.container-fluid {
    /* background: #f1f1f1; */
    background: linear-gradient(to bottom, MediumSeaGreen, white);
    /* background: #f1f1f1; */
    /* padding: 30px; */
    /* padding-top: 70px; */
    /* padding-left: 50px !important; */
    /* padding-right: 50px !important; */
}

.admin-dashboard {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    /* margin-bottom: 0; */
}

.head {
    /* padding: 0 15px; */
    /* font-weight: bold;
    font-size: 26px;
    color: #b58d41; */
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* .arrow {
    width: 70px;
    height: 20px;
    position: relative;
}

.arrow.left::before,
.arrow.right::after {
    content: '';
    position: absolute;
    top: 0;
    border-left: 15px solid rgba(237, 230, 204, 1);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.arrow.left::before {
    left: 0;
    transform: rotate(180deg);
}

.arrow.right::after {
    right: 0;
} */

.filter-option {
    font-size: 12px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid transparent;
    color: #000;
    /* Default color */
}

.filter-option.active {
    background-color: #0d6efd;
    /* Bootstrap primary color */
    color: white;
}

.filter-option:not(.active):hover {
    background-color: #f8f9fa;
    /* Light gray on hover */
    border-color: #ddd;
}

.filter-option:active {
    color: white;
    background-color: #0056b3;
    /* Darker active color */
}

table {
    border-collapse: collapse;

}

tbody tr:hover {
    background-color: #f1f1f1;
}

table tr,
table th {
    font-size: 12px;
    border: 1px solid #999;
    padding: 5px;
}

table td {
    font-size: 12px;
    border: 1px solid #999;
    padding: 5px;
}

thead {
    background-color: #98FB98;
}

a.update-link {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.3s ease;
    color: blue;
    font-size: 13px;
}

a.delete-link {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.3s ease;
    color: red;
    font-size: 13px;
}

.img {
    border-radius: 6px;
    max-width: 25px;
    object-fit: contain;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Input fields */
label {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 12px;
}

/* Submit button */
input[type="submit"] {
    background-color: DodgerBlue;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    width: 100%;
    margin-top: 15px;
}

input[type="submit"]:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* </style> */
.status-message {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border: 1px solid #c3e6cb;
    /* border-radius: 5px; */
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    transition: opacity 0.5s ease-out;
}

.status-message i {
    font-size: 20px;
}

.status-message.fade-out {
    opacity: 0;
}

.tools {
    display: flex;
}

.tools button {
    border: none;
}

/* <style> */
.row-selection {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.row-selection label {
    font-size: 13px;
}

#rowCount {
    padding: 2px;
    font-size: 13px;
}

.input-group .form-control {
    border-radius: 5px 0 0 5px;
    box-shadow: none;
}

.form-control::placeholder {
    font-size: 12px;
}

.input-group .btn {
    border-radius: 0 5px 5px 0;
}

.input-group .form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

#clearSearch {
    margin-left: 10px;
    border-radius: 5px;
}

.column {
    display: flex;
    justify-items: start;
    gap: 5px;
}

/* </style> */