@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    --body-color: #f4f4f4;
    --sidebar-color: #fff;
    --primary-color: #695CFE;
    --primary--color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
} */

:root {
    /* --body-color: #f4f4f4; */
    /* --sidebar-color: #222d32; */
    --sidebar-color: #212631;
    --primary-color: green;
    --primary--color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #fff;
    --text-color-hover: #212121;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    /* height: 100vh; */
    transition: var(--tran-05);
}

/* ====reusable CSS==== */
.sidebar-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-05);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

.sidebar header .toggle {
    position: absolute;
    top: 40%;
    right: -50px;
    transform: translateY(-50%) rotate(180deg);
    height: 31px;
    width: 33px;
    /* background: lightgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 50%; */
    color: #9c9c9c;
    font-size: 20px;
    transition: translateY(-50%);
    transition: all 0.4s ease-in-out;
}


.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar.close .text,
.sidebar.close .header.title {
    opacity: 0;
}

.sidebar.close .image-text img {
    width: 40px;
    border-radius: 6px
}

/* ====sidebar==== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    overflow-x: hidden;
}

.scrollspy {
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #dee2e6;
    /* scrollbar-width: thin; */
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.sidebar .title {
    width: 100%;
    padding: 4px 15px;
    color: lightgreen;
    border-radius: 20px;
}

.sidebar.close {
    width: 70px;
}

.sidebar.close header {
    width: 70px;
}

.collapse-icon {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sidebar.close .collapse-icon {
    opacity: 0;
}

.sidebar li {
    height: 40px;
    /* margin-top: 5px; */
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.sidebar.close li .icon {
    min-width: 50px;
}

.sidebar.close .icon {
    font-size: 16px;
    transition: var(--tran-03);
}

.sidebar .icon {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--tran-03);
}

.sidebar li .text {
    font-size: 12px;
}

.sidebar li .icon {
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li .icon {
    color: #c1c1c1;
}

.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
    margin-left: 8px;
}

.sidebar header {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    background-color: var(--sidebar-color);
    z-index: 101;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #323a49;
    transition: var(--tran-05);
}

.sidebar footer {
    border-top: 1px solid #323a49;
}

/* .sidebar .image-text img {
    width: 40px;
    border-radius: 6px
} */

.sidebar header .image-text {
    display: flex;
    align-items: center;
    color: lightgreen;
}

.menu-links,
.submenu {
    padding-left: 0;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: bold;
}

.header-text .profession {
    margin-top: -2px;
    font-size: 10px;
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-left: solid 5px transparent;
}

.sidebar .menu-bar .menu li a:hover {
    background: var(--text-color-hover);
    /* font-weight: bold;
    font-size: 13px; */
}

.sidebar .bottom-content li a:hover {
    background-color: lightcoral;
    color: #000;
}

.sidebar .menu-bar .menu li a:hover .text {
    /* color: white; */
}

.sidebar .menu-bar .menu li a.active {
    background-color: #2a303d;
    /* border-left: solid 5px; */
    /* border-bottom: solid #f4f4f4 1px; */
    /* border-top: solid #f4f4f4 1px; */
}

.sidebar .menu-bar {
    margin-top: 120px;
    overflow-y: auto;
    height: calc(100vh - 100px);
    overflow-x: hidden;
}


/* .scrollspy */
.sidebar .menu-bar::-webkit-scrollbar {
    width: 4px;
}

.sidebar .menu-bar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.sidebar .menu-bar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.sidebar .menu-bar::-webkit-scrollbar-track {
    background-color: #212631;
}

/* ... */

/* ====== */
.sidebar.close~.home {
    left: 35px;
    width: calc(100% - 35px);
    overflow-x: hidden;
}

.sidebar.close~.nav-home {
    left: 40px;
    width: calc(100% - 40px);
}

/* ===== Dashboard===== */
.home {
    position: relative;
    /* height: 100vh; */
    left: 170px;
    width: calc(100% - 170px);
    transition: var(--tran-05);
    /* background: var(--body-color); */
}

.nav-home {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    /* background: var(--body-color); */
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 14px;
}

.smol {
    font-weight: 500;
    border-radius: 30px;
    font-size: 11px;
    color: white;
    margin-bottom: 2px;
}

.smol i {
    color: #15BE2F;
}

/* ============================================================================================ */

.collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapse.show {
    max-height: 200px;
    transition: max-height 0.2s ease-in;
}

.submenu a {
    color: #ddd;
    padding-left: 25px;
    position: relative;
}

.submenu a:before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: 0;
    width: 2px;
    background-color: #ddd;
}

.submenu a:first-child:before {
    top: 0;
}

.submenu a:last-child:before {
    bottom: 0;
}

/* ============================================================================================ */

.collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapse.show {
    max-height: 200px;
    transition: max-height 0.2s ease-in;
}

.submenu a {
    color: #ddd;
    position: relative;
}

.submenu a:before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: 0;
    width: 2px;
    background-color: #ddd;
}

.submenu a:first-child:before {
    top: 0;
}

.submenu a:last-child:before {
    bottom: 0;
}

.rotate {
    transform: rotate(-180deg);
    transition: transform 0.3s ease;
}

.collapsed {
    margin-left: -264px;
}